* {
  margin: 0;
}

body::after {
  content: "";
  background: url('booksbg.jpg');
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

nav {
    align-items: center;
    background-color: #333333;
    color: #c0c0c0;
    display: flex;
    height: 80px;
    padding: 10px;
  }

.menu-link {
    margin-left: 10px;
}

#list-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.warning {
  color: white;
  background-color: orange;
  margin: 4px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  border: #333333 solid;
  padding: .5em;
  box-sizing: content-box;
  background-color: beige;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

form > * {
  margin: .25em;
}

/* button formatting */
.submit-button {
  background-color: #59A9E9;
  color: white;
}
.submit-button:hover {
  background-color: #59A9C2;
}
.submit-button:disabled {
  background-color: #ccc;
}

.delete {
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: pink;
  height: 1.5em;
  width: 1.5em;
  margin-left: 1em;
  justify-self: flex-end;
}
.delete:hover {
  background-color: red;
}

.unenroll-button {
  background-color: pink;
  color: white;
  margin-left: 1em;
}
.unenroll-button:hover {
  background-color: red;
}

/* assorted styling*/

.link-and-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.student {
  margin: .5em;
}

.campus {
  margin-bottom: .5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #333333 solid;
  padding: .25em;
  box-sizing: border-box;
  background-color: aliceblue;
}
.campus:nth-child(odd) {
  background-color: lightsteelblue;
}

.campus-name {
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

.campus-name-link {
  margin-top: 0px;
  padding-top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attend-status, .enrollment-num, .GPA {
  color: grey;
  font-style: italic;
  margin-left: .25em;
}

.sort-div {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}
.sort-div > button {
  margin-left: .5em;
}

/* single student and campus view */
#single-student-container, #single-campus-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  max-width: 600px;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}
#single-student-container > *, #single-campus-container > * {
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}
#student-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  min-width: 200px;
  border:#333333 solid;
  padding: 1em;
  background-color: aliceblue;
}
#student-details {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#single-campus-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  min-width: 200px;
  border:#333333 solid;
  padding: 1em;
  background-color: aliceblue;
}
#single-campus-details {
  display: flex;
  flex-direction: column;
  align-content: center;
}
#single-campus-details > *, #student-details > * {
  margin: .25em
}
.tag {
  font-weight: bold;
  font-style: italic;
  color:#463d3d
}
.campus-detail, .student-detail {
  font-style: italic;
  color:gray
}

/* single campus student list */
.enrolled-students-list {
  border:#333333 solid;
  background-color:aliceblue;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: .5em;
}
.enrolled-students-list > * {
  margin-left: auto;
  margin-right: auto;
}
.enrolled-students-list ul {
  padding-left: 15px;
}
.student-unenroll-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h4 {
  margin-bottom: .5em;
}

#student-list {
  border: #333333 solid;
  background-color: aliceblue;
  height: 90.3%;
  padding-left: 15px
}

/* not found page */
#not-found {
  font-style: italic;
  color:#463d3d;
}

/* home page */
#home-page-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  align-content: center;
}

#welcome-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 600px;
  margin: auto;
  margin-bottom: 2em;
  border: #333333 solid;
  padding: .5em;
  background-color: aliceblue;
}
#welcome-page > *, #carousel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center;
}

#carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  padding: 1em;
}

#carousel:hover {
  background-color: rgb(185, 217, 226);
  opacity: .5;
}

#carousel > div {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.carousel-img {
  max-width: 400px;
  margin: auto;
}

/* filtering footer */
.activeFilter {
  color: black;
  font-weight: bold;
  font-style: italic;
}
.notActive {
  color: blue;
  text-decoration: underline;
}
.filter-div > span {
  margin-left: .5em;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer > * {
  margin-bottom: .5em;
}
.filter-div > span:hover {
  cursor: pointer;
}

/*
TODOS

LOOK INTO SOME OF THE EXTRA CREDIT FUNCTIONALITY
- for home page, could look into autoplaying carousel

- THEN, FILTERING SHOULD BE AN OPTION. ORDERING OPTIONS COULD GO IN A FOOTER MAYBE? FILTER OPTIONS TOO
*/