nav {
    align-items: center;
    background-color: #333333;
    color: #c0c0c0;
    display: flex;
    height: 80px;
    padding: 10px;
  }

.menu-link {
    margin: 5px;
}

#list-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em
}

/* #form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
} */